*.part
compressed
.packed/
.pack/
.ssh/sshkey
.ssh/sshkey.pub
node_modules/

.vscode/
.ssh/
.turbo
dist

# special folder to store the next version of a geneset
/genes/*/*/next
/genes/*/*/*-next

# Claude settings
.claude/settings.local.json